.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__title {
  text-align: center;
}

.hero__description {
  word-wrap: break-word;
  width: 40%;
}

.hero__stats {
  display: flex;
  gap: 20px;
  flex-direction: column;
  z-index: 2;
}

.hero__badge {
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  padding: 8px 20px;
  border-radius: 24px;
  font-size: 14px;
  color: #ffffffcc;
  margin-bottom: 20px;
  backdrop-filter: blur(10px);
}

.hero__stat-card:nth-child(1) {
  top: 59%;
  left: 80%;
}

.hero__stat-number {
  margin-bottom: 5px;
}

.hero__stat-text {
  color: var(--grey40);
  width: 70%;
}

.hero__stat-img {
  width: 100%;
  max-width: 120px;
}
