.promo {
  justify-content: center;
  display: flex;
  padding: 160px;
  max-width: 1280px;
  align-items: center;
  margin: 0 auto;
}
.promo__text {
  width: 40%;
  padding-left: 30px;
}

.promo__items {
  margin-top: 30px;
  margin-bottom: 30px;
}

.promo__subtitle {
  color: var(--grey50);
  margin-top: 20px;
}

.promo__item {
  background: linear-gradient(to right, #822faf, #111);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  text-align: center;
  width: 90%;
}
