<section class="hero">
  <div class="hero__content">
    <span class="hero__badge">Lörem ipsum treras.</span>
    <h1 class="hero__title">Own Your Crypto <span>Adventure</span></h1>
    <p class="hero__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi
    </p>
    <a href="#" class="cta-button">Get Started</a>
  </div>

  <div class="hero__stats">
    <div class="hero__stat-card ">
      <p class="hero__stat-number">2,000+</p>
      <p class="hero__stat-text">Lorem ipsum dolor sit amet</p>
      <img
        src="../images/user-group.svg"
        alt="Users"
        class="hero__stat-img"
      />
    </div>
    <div class="hero__stat-card">
      <p class="hero__stat-number">5,000+</p>
      <p class="hero__stat-text">Lorem ipsum dolor sit amet</p>
      <img
        src="../images/user-group.svg"
        alt="Users"
        class="hero__stat-img"
      />
    </div>
  </div>
</section>
