<nav class="header__nav">
  <div class="header__logo">
    <img
      src="../images/cryptolly-logo.svg"
      alt="Cryptolly Logo"
      class="header__logo-img"
    />
  </div>
  <ul class="header__menu">
    <li class="header__menu-item"><a href="#">About</a></li>
    <li class="header__menu-item"><a href="#">Service</a></li>
    <li class="header__menu-item"><a href="#">Token Sale</a></li>
    <li class="header__menu-item"><a href="#">FAQ's</a></li>
    <li class="header__menu-item"><a href="#">Team</a></li>
    <li class="header__menu-item"><a href="#">Blog</a></li>
  </ul>
  <div class="header__cta">
    <a href="#" class="cta-button">Get in Touch</a>
  </div>
</nav>
