<aside class="content-switcher__menu">
  <ul class="menu-list" id="menuList">
    <li
      class="menu-list__item menu-list__item--active"
      data-title="Пункт 1"
      data-text="Текст для пункту 1. Lorem ipsum dolor sit amet consectetur."
    >
      <img src="img/avatar-1.png" alt="Avatar 1" class="menu-list__avatar" />
      <span class="menu-list__text">Lorem ipsum dolor sit amet</span>
    </li>
    <li
      class="menu-list__item"
      data-title="Пункт 2"
      data-text="Текст для пункту 2. Sed do eiusmod tempor incididunt."
    >
      <img src="img/avatar-2.png" alt="Avatar 2" class="menu-list__avatar" />
      <span class="menu-list__text">Lorem ipsum dolor</span>
    </li>
    <li
      class="menu-list__item"
      data-title="Пункт 3"
      data-text="Текст для пункту 3. Ut enim ad minim veniam."
    >
      <img src="img/avatar-3.png" alt="Avatar 3" class="menu-list__avatar" />
      <span class="menu-list__text">Lorem ipsum dolor sit amet</span>
    </li>
    <li
      class="menu-list__item"
      data-title="Пункт 4"
      data-text="Текст для пункту 4. Excepteur sint occaecat cupidatat."
    >
      <img src="img/avatar-4.png" alt="Avatar 4" class="menu-list__avatar" />
      <span class="menu-list__text">Lorem ipsum dolor</span>
    </li>
  </ul>
</aside>
