<section class="modules">
  <div class="modules__header">
    <p class="modules__subtitle">Lorem ipsum</p>
    <h2 class="modules__title">Amet pretium</h2>
    <p class="modules__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo ipsum aliquet
      turpis elit elit natoque varius eget facilisi. Amet rhoncus.
    </p>
  </div>

  <div class="modules__list">
    <div class="module">
      <div class="module__content">
        <h3 class="module__title">Module 1: The foundation</h3>
        <p class="module__text">
          Discover the most promising niche in cryptocurrencies where you can
          make decent money on your own.
        </p>
        <p class="module__subtitle">What we will learn and do:</p>
        <div class="module__tags">
          <span class="module__tag">Apps Development</span>
          <span class="module__tag">SEO Services</span>
          <span class="module__tag">Data Analysis</span>
        </div>
      </div>
      <div class="module__image">
        <img src="../images/module1.svg" alt="Module 1 image" />
      </div>
    </div>

    <div class="module">
      <div class="module__content">
        <h3 class="module__title">Module 2: The foundation</h3>
        <p class="module__text">
          Discover the most promising niche in cryptocurrencies where you can
          make decent money on your own.
        </p>
        <p class="module__subtitle">What we will learn and do:</p>
        <div class="module__tags">
          <span class="module__tag">Apps Development</span>
          <span class="module__tag">SEO Services</span>
          <span class="module__tag">Data Analysis</span>
        </div>
      </div>
      <div class="module__image">
        <img src="../images/module2.svg" alt="Module 2 image" />
      </div>
    </div>

    <div class="module">
      <div class="module__content">
        <h3 class="module__title">Module 3: The foundation</h3>
        <p class="module__text">
          Discover the most promising niche in cryptocurrencies where you can
          make decent money on your own.
        </p>
        <p class="module__subtitle">What we will learn and do:</p>
        <div class="module__tags">
          <span class="module__tag">Apps Development</span>
          <span class="module__tag">SEO Services</span>
          <span class="module__tag">Data Analysis</span>
        </div>
      </div>
      <div class="module__image">
        <img src="../images/module3.svg" alt="Module 3 image" />
      </div>
    </div>
  </div>
</section>
