<section class="plans">
  <div class="plans__info">
    <p class="plans__subtitle">Plans</p>
    <h2 class="plans__title">Exclusive Membership Plans</h2>
    <p class="plans__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo ipsum aliquet
      turpis elit elit natoque varius eget facilisi. Amet rhoncus
    </p>
  </div>

  <div class="plans__cards">
    <div class="plans__card">
      <h3>Colleagues</h3>
      <p>Valid when paying for tuition for a group of three people</p>
      <p class="plans__price"></p>
      <div class="plans__current-price">
        <strong>3 329</strong>/month<span>79 900</span>
        <p class="plans__discount">-5%</p>
      </div>

      <p><del>3 329</del> for 24 months <del>79 900</del></p>
      <ul>
        <li>9 modules in 6 weeks</li>
        <li>Webinars with experts</li>
        <li>Practical tasks</li>
        <li>
          Certificate of advanced training based on the results of training
        </li>
        <li>Unlimited access to materials</li>
        <li>Group chat with experts and course coordinators</li>
        <li>Professional community</li>
      </ul>
      <div class="plans__button-container">
        <button class="cta-button plans__button">Select</button>
      </div>
    </div>
    <div class="plans__card">
      <h3>Colleagues</h3>
      <p>Valid when paying for tuition for a group of three people</p>
      <p class="plans__price"></p>
      <div class="plans__current-price">
        <strong>3 329</strong>/month<span>79 900</span>
        <p class="plans__discount">-5%</p>
      </div>

      <p><del>3 329</del> for 24 months <del>79 900</del></p>
      <ul>
        <li>9 modules in 6 weeks</li>
        <li>Webinars with experts</li>
        <li>Practical tasks</li>
        <li>
          Certificate of advanced training based on the results of training
        </li>
        <li>Unlimited access to materials</li>
        <li>Group chat with experts and course coordinators</li>
        <li>Professional community</li>
      </ul>
      <div class="plans__button-container">
        <button class="cta-button plans__button">Select</button>
      </div>
    </div>
    <div class="plans__card">
      <h3>Colleagues</h3>
      <p>Valid when paying for tuition for a group of three people</p>
      <p class="plans__price"></p>
      <div class="plans__current-price">
        <strong>3 329</strong>/month<span>79 900</span>
        <p class="plans__discount">-5%</p>
      </div>

      <p><del>3 329</del> for 24 months <del>79 900</del></p>
      <ul>
        <li>9 modules in 6 weeks</li>
        <li>Webinars with experts</li>
        <li>Practical tasks</li>
        <li>
          Certificate of advanced training based on the results of training
        </li>
        <li>Unlimited access to materials</li>
        <li>Group chat with experts and course coordinators</li>
        <li>Professional community</li>
      </ul>
      <div class="plans__button-container">
        <button class="cta-button plans__button">Select</button>
      </div>
    </div>
  </div>
</section>
