<section class="promo">
  <div class="promo__text">
    <h3 class="promo__title">
      Lörem ipsum häsat promotiv sedan depatologi tenes.
    </h3>
    <p class="promo__subtitle">Lörem ipsum sosm niliga syntris.</p>
  </div>
  <div class="promo__items">
    <div class="promo__item">
      Lörem ipsum dorade boktig till geosylig postmodern.
    </div>
    <div class="promo__item">
      Lörem ipsum dorade boktig till geosylig postmodern.
    </div>
    <div class="promo__item">
      Lörem ipsum dorade boktig till geosylig postmodern.
    </div>
  </div>
</section>
