<section class="services">
  <div class="service-card">
    <h5 class="service-card__subtitle">Our Services</h3>
    <h2 class="service-card__title">Our Services for You</h2>
    <p class="service-card__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore
    </p>
  </div>
  <div class="service-card">
    <img src="../images/escrow-icon.svg" alt="Icon" class="service-card__icon" />
    <h3 class="service-card__title">Bitcoin Escrow Service</h3>
    <p class="service-card__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus
      sit amet luctus
    </p>
  </div>
  <div class="service-card">
    <img src="../images/safe-icon.svg" alt="Icon" class="service-card__icon" />
    <h3 class="service-card__title">Safe And Secure</h3>
    <p class="service-card__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus
      sit amet luctus
    </p>
  </div>
  <div class="service-card">
    <img src="../images/app-icon.svg" alt="Icon" class="service-card__icon" />
    <h3 class="service-card__title">Integrated App</h3>
    <p class="service-card__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus
      sit amet luctus
    </p>
  </div>
  <div class="service-card">
    <img src="../images/safe-icon.svg" alt="Icon" class="service-card__icon" />
    <h3 class="service-card__title">Safe And Secure</h3>
    <p class="service-card__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus
      sit amet luctus
    </p>
  </div>
  <div class="service-card">
    <img src="../images/safe-icon.svg" alt="Icon" class="service-card__icon" />
    <h3 class="service-card__title">Safe And Secure</h3>
    <p class="service-card__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus
      sit amet luctus
    </p>
  </div>
</section>
