<section class="team">
  <div class="team__content">
    <p class="team__subtitle">Team</p>
    <h2 class="team__title">Member of our expert team</h2>
    <p class="team__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo ipsum aliquet
      turpis elit elit natoque varius eget facilisi. Amet rhoncus
    </p>
    <button class="cta-button">Get Started</button>
  </div>

  <div class="team__slider">
    <div class="team__slides">
      <div class="team__slide active">
        <img
          src="../images/speaker1.svg"
          alt="Expert 1"
          class="team__slide-photo"
        />
        <div class="team__info">
          <h3>Lorem ipsum treras dekalig.</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo ipsum
            aliquet turpis elit elit natoque varius eget facilisi. Amet rhoncus
          </p>
        </div>
      </div>
      <div class="team__slide">
        <img
          src="../images/speaker2.svg"
          alt="Expert 2"
          class="team__slide-photo"
        />
        <div class="team__info">
          <h3>Lorem ipsum treras dekalig.</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo ipsum
            aliquet turpis elit elit natoque varius eget facilisi. Amet rhoncus
          </p>
        </div>
      </div>
      <div class="team__slide">
        <img
          src="../images/speaker3.svg"
          alt="Expert 3"
          class="team__slide-photo"
        />
        <div class="team__info">
          <h3>Lorem ipsum treras dekalig.</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo ipsum
            aliquet turpis elit elit natoque varius eget facilisi. Amet rhoncus
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
