<section class="token">
  <div class="token__content">
    <div class="token__info">
      <p class="token__subtitle">Our Token</p>
      <h2 class="token__title">Token seal</h2>
      <p class="token__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo ipsum
        aliquet turpis elit elit natoque varius eget facilisi. Amet rhoncus
      </p>
    </div>
  </div>

  <div class="token__cards">
    <div class="card">
      <div class="card__icon card__icon--profit"></div>
      <h3 class="card__title">Enjoy The Profit</h3>
      <p class="card__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl praesent
        massa ullamcorper ultrices eu tortor...
      </p>
    </div>

    <div class="card">
      <div class="card__icon card__icon--support"></div>
      <h3 class="card__title">Customer Support</h3>
      <p class="card__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl praesent
        massa ullamcorper ultrices eu tortor...
      </p>
    </div>

    <div class="card">
      <div class="card__icon card__icon--confirmation"></div>
      <h3 class="card__title">Confirmation</h3>
      <p class="card__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl praesent
        massa ullamcorper ultrices eu tortor...
      </p>
    </div>
  </div>
</section>
